{{!-- <h1>Stock Watch list.</h1>

<ul>
  {{#each movies}}
    <li>
      <p>
        {{this.id}}. {{this.movie}}

        <button data-movieid="{{this.id}}" class="delmovie">Delete</button>
      </p>
    </li>
  {{/each}}
</ul>

<h2>Add a Movie to Watch</h2>
<form id="addmovie" class="button-size">
	<textarea type="text" name="movie"></textarea>
	<button type="submit">Save Movie!</button>
</form>

<h2>Update a Movie</h2>
<form id="updatemovie" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="movie" placeholder="what do you want to update this movie title to?"></textarea>
	<button type="submit">Update Movie!</button>
</form>

<script type="text/javascript">
  $(".delmovie").on("click", function(event) {
    var id = $(this).data("movieid");

    // Send the DELETE request.
    $.ajax("/api/movies/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#addmovie").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newMovie = {
      movie: $("#addmovie [name=movie]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/movies", {
      type: "POST",
      data: newMovie
    }).then(
      function() {
        console.log("added new movie");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updatemovie").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var id = $("[name=id]").val().trim();

    var updatedMovie = {
      movie: $("#updatemovie [name=movie]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/movies/" + id, {
      type: "PUT",
      data: updatedMovie
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script> --}}


<body>
    <header id='masthead'>
        <div class='logo'>
            <a href='index.handlebars' id='trader-logo' aria-label='Trader Pro spelled T R A D E R P R O'>Trader Pro</a>
        </div>
        <nav>
            {{!-- <a href='/index'>Home<i class='fa fa-user-circle'></i></a> --}}
            <a href='watchlist'>Watchlist<i class='fa fa-folder-open'></i></a>
            <a href='ourTeam.html'>Contact Us<i class='fa fa-file'></i></a>
        </nav>
    </header>
    <div class='tcontainer'>
        <div class='ticker-wrap'>
            <div class='ticker-move bg-dark text-white'>
            </div>
        </div>
    </div>
    </div>
    <div class='container'>
        <div class='form'>
            <h2>Sign In</h2>
            <form class='login'>
                <label for='Email'>
                    <span>Email Address</span>
                    <input type='email' id='loginemail-input' autocomplete='username' name='email' required>
                </label>
                <label for='Password'>
                    <span>Password</span>
                    <input type='password' id='loginpassword-input' autocomplete='password' name='password' required>
                </label>
                <button class='submit' type='submit'>Sign In</button>
                <p class='forgot-pass'>Forgot Password?</p>
                <div class='social-icons'>
                    <ul>
                        <li><img src='./assets/img/facebook.png'></li>
                        <li><img src='./assets/img/twitter.png'></li>
                        <li><img src='./assets/img/linkedin.png'></li>
                        <li><img src='./assets/img/instagram.png'></li>
                    </ul>
                </div>
            </form>

            <div class='sub-container'>
                <div class='img'>
                    <div class='img-text m-up'>
                        <h2>New here?</h2>
                        <p>Sign up and discover your investing potential!</p>
                    </div>
                    <div class='img-text m-in'>
                        <h2>One of us?</h2>
                        <p>If you already have an account, just sign in. We've missed you!</p>
                    </div>
                    <div class='img-btn'>
                        <span class='m-up'>Sign Up</span>
                        <span class='m-in'>Sign In</span>
                    </div>
                </div>
                <form class='signup'>
                    <div class='form sign-up'>
                        <h2>Sign Up</h2>
                        <label>
                            <span>Name</span>
                            <input type='text' required>
                        </label>
                        <label>
                            <span>Email</span>
                            <input type='email' id='signupemail-input' autocomplete='new-user' required>
                        </label>
                        <label>
                            <span>Password</span>
                            <input type='password' id='signuppassword-input' autocomplete='new-password' minlength='8'
                                required>
                        </label>
                        <label>
                            <span>Confirm Password</span>
                            <input type='password' autocomplete='new-password' minlength='8' required>
                        </label>
                        <button type='submit' class='submit' name='submit' value='Add'>Sign Up Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>
    function call_api(){
        unirest.get('https://apidojo-yahoo-finance-v1.p.rapidapi.com/market/get-trending-tickers')
        .header("X-RapidAPI-Key", '16471ddbe1mshaa29c110d16c899p1efb9fjsn0e36b112d5de')
        .header('x-rapidapi-host', 'apidojo-yahoo-finance-v1.p.rapidapi.com')
        .end(function (result) {
        let data = result.body.finance.result[0].quotes
        // console.log(result.status, result.body.finance.result[0].quotes);
        printData(data)
        return data
        });
    }

    async function printData(data){
        let stockData = []
        let formattedData;
        //  await console.log(data)
        for(i = 0; i < data.length; i++) {
            formattedData = `Stock Symbol: ${data[i].symbol}, Company: ${data[i].longName} Stock Price: ${data[i].regularMarketPrice}, Stock Change Percentage: ${data[i].regularMarketChangePercent}`
            stockData.push(formattedData)
        }
        showData(stockData);
        return stockData;
    }
 </script>
        <br/>{{stockData}}<br>
    <div class="jumbotron">
      <center> 
      <h1 class="display-4">{{stockData.longName}} ({{stockData.symbol}})</h1>
      <hr class="my-4 text-center">
      <strong>Market price:</strong> ${{stockData.regularMarketPrice}}<br/>
      <strong>Change Percent:</strong> ${{stockData.regularMarketChangePercent}}<br/>

      </center>
    </div>
    <br><br><br>
   
    <br><br><br>
    
   
  <script>   
// Setting Handlebars POST route
app.post('/', function (req, res) {
    call_api(function(doneAPI){
        // posted_stuff=req.body.stock_ticker;
        res.render('home',{
            stock: doneAPI,
        });
    },req.body.stock_ticker);    
});
</script>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='./js/login.js' type='text/javascript'></script>
    <script src='./js/signup.js' type='text/javascript'></script>

</body>
