<body>
  <header id='masthead'>
    <div class='logo'>
      <a href='index.handlebars' id='trader-logo' aria-label='Trader Pro spelled T R A D E R P R O'>Trader Pro</a>
    </div>
    <nav>
      {{!-- <a href='/index'>Home<i class='fa fa-user-circle'></i></a> --}}
      <a href='watchlist'>Watchlist<i class='fa fa-folder-open'></i></a>
      <a href='ourTeam.html'>Contact Us<i class='fa fa-file'></i></a>
    </nav>
  </header>
  <br><br>
  <h2 class='watch'>Stock Watch list.</h2>

  {{!-- <h2>Add a stock to watch list </h2> --}}

  <form id="addstock" class="button-size">
    <select id='dropdown' type="text" name="browse_stock">
      {{#each short_names}}
      <option class='option' value={{this.id}}>{{this.name}}</option>
      {{/each}}
      Add a Stock to your Watchlist.
    </select>
    <button class='btn' type="submit">Save stock</button>

  </form>

  <br><br>

  <div class="card" id="stockcard">
    <div class="card-body">
      {{#each data}}
      <p value={{this.name}}{{this.symbol}}{{this.currentPrice}}{{this.dailyHigh}}{{this.dailyLow}}{{this.yearHigh}}>
        {{this.yearLow}}</p>
      {{/each}}
      This is some text within a card body.
    </div>
  </div>

  <script
       
         
        src='./js/watchlist.js' type='text/javascript'>

  </script>



</body>